<!DOCTYPE html>
<html>
  <head>
    <title>Pluto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in?%>
        <select name="team">
          <option value="">Select a team</option>
          <option><%= render 'layouts/teams_dropdown'  %></option>
        </select>

        <%= link_to "all teams", teams_path %>

        <nav class="right-nav">
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <%= link_to edit_user_registration_path do %>
            <img class="current-avatar" src="<%= gravatar_url(current_user.email, 35) %>"/>
          <% end %>
        </nav>
      <% else %>
        <%= link_to root_path do %>
          <h1 class="logo">FromPluto</h1>
        <% end %>

        <nav class="right-nav">
          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Register", new_user_registration_path %>
        </nav>
      <% end %>
    </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
