<!DOCTYPE html>
<html>
  <head>
    <title>Pluto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in?%>
        <nav class="team-navigation">
          <div class="team-select-wrapper">
            <%= select nil,
              :team,
              @dropdown_teams.map { |team| [team.name, team_path(team)] },
              { include_blank: "Select a team", selected: (team_path(@team) if @team.try(:persisted)) },
              { class: "team-select" }
            %>
          </div>

          <%= link_to "all teams", teams_path, class: "all-teams" %>
        </div>
      </nav>

        <nav class="right-nav">
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <%= link_to edit_user_registration_path do %>
            <img class="current-avatar" src="<%= gravatar_url(current_user.email, 35) %>"/>
          <% end %>
        </nav>
      <% else %>
        <%= link_to root_path do %>
          <h1 class="logo">FromPluto</h1>
        <% end %>

        <nav class="right-nav">
          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Register", new_user_registration_path %>
        </nav>
      <% end %>
    </header>

    <% if notice %>
      <div class="flash-container notice">
        <p class="flash"><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="flash-container alert">
        <p class="flash"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
